<main class="main">
  <section class="heads">
    <h2 class="heads__title">Heads</h2>
    <p
      class="heads__text js-heads-result"
    >
      0
    </p>
  </section>
  <section class="tails">
    <h2 class="tails__title">Tails</h2>
    <p
      class="tails__text js-tails-result"
    >
      0
    </p>
  </section>
  <section class="results">
    <h3
      class="results__text js-result-text"
    ></h3>
    <input
      class="btn flip-btn js-flip-btn"
      type="button"
      value="Flip Coin"
    />
    <input
      class="btn reset-btn js-reset-btn"
      type="reset"
      value="Reset"
    />
  </section>
</main>
