<main class="main">
  <section class="results">
    <input
      class="btn flip-btn js-flip-btn"
      type="button"
      value="Flip Coin"
    />
    <input
      class="btn reset-btn js-reset-btn"
      type="reset"
      value="Reset"
    />
    <h3
      class="results__text js-result-text"
    ></h3>
  </section>
  <section class="section">
    <h2 class="section__title">
      Heads
    </h2>
    <p
      class="section__text js-heads-result"
    >
      0
    </p>
  </section>
  <section class="section">
    <h2 class="section__title">
      Tails
    </h2>
    <p
      class="section__text js-tails-result"
    >
      0
    </p>
  </section>
</main>
